---
extends:
  - formidable/configurations/es6-react
  - prettier

plugins:
  - prettier

rules:
  quotes: ["error", "single", { allowTemplateLiterals: true }]
  object-property-newline: ["error", { allowAllPropertiesOnSameLine: true }]
  react/no-multi-comp: "off"
  prettier/prettier: "error"

settings:
  react:
    version: "detect"
